{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_1_reg[0]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][1][0]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_1_reg[1]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][1][1]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_1_reg[2]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][1][2]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_1_reg[3]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][1][3]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_1_reg[4]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][1][4]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_1_reg[5]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][1][5]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_reg[0]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][0][0]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_reg[1]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][0][1]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_reg[2]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][0][2]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_reg[3]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][0][3]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_reg[4]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][0][4]}}
{{r:/WORK/DCacheWrapper/io_perf_0_value_REG_reg[5]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[0]\[stage][0][5]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_1_reg[0]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][1][0]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_1_reg[1]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][1][1]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_1_reg[2]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][1][2]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_1_reg[3]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][1][3]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_1_reg[4]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][1][4]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_1_reg[5]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][1][5]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_reg[0]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][0][0]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_reg[1]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][0][1]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_reg[2]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][0][2]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_reg[3]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][0][3]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_reg[4]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][0][4]}}
{{r:/WORK/DCacheWrapper/io_perf_10_value_REG_reg[5]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[10]\[stage][0][5]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_1_reg[0]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][1][0]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_1_reg[1]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][1][1]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_1_reg[2]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][1][2]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_1_reg[3]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][1][3]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_1_reg[4]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][1][4]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_1_reg[5]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][1][5]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_reg[0]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][0][0]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_reg[1]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][0][1]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_reg[2]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][0][2]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_reg[3]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stage][0][3]}}
{{r:/WORK/DCacheWrapper/io_perf_11_value_REG_reg[4]} {i:/WORK/DCacheWrapper/u_core/perf_pipe_reg[11]\[stag